body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

p {
    color: rgb(95, 60, 252);
}

h2 {
    background-color: chocolate;
    text-decoration: underline, overline;
}